#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #666;
}

.card {
  padding: 2em;
  color: white;
  border: 1px solid white;
}

.card.blue {
  background-color: blue;
}

.card.orange {
  background-color: orange;
}
.card.black {
  background-color: black;
}
.card.biege {
  background-color: #D2B48C;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
